.homepage-half-image-half-text {
	position: relative;
	z-index: 9;
}

.half-image-half-text {
	position: relative;
}

.half-text {
	padding: 42px 28px;
}

.homepage-half-image-half-text h2 {
	font-size: 24px;
	line-height: 1.166em;
	color: #353535;
	font-weight: 600;
}

.half-image {
	width: calc(100% - 28px);
	/*height: 238px;*/
	height: auto;
	position: relative;
	overflow: hidden;
}

.half-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
	font-family: 'object-fit: cover;';
	object-position: top;
}

.left-text-right-image .half-image {
	margin: 0 0 0 auto;
	border-radius: 5px 0 0 5px;
}

.right-text-left-image .half-image {
	margin: auto 0 0 0;
	border-radius: 0 5px 5px 0;
}

.btn-read-more {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	color: #20348C;
	font-size: 15px;
	font-weight: 300;
	padding: 0 0;
	display: table;
	margin: -15px 0 38px;
}

.btn-read-more:after {
	content: "\e904";
	font-family: 'icomoon';
	font-weight: normal;
	font-size: 10px;
	margin-left: 6px;
}

#moreText,
#moreText2 {
	display: none;
}


/* .entry-content {
	position: relative;
	height: 108px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
	overflow: hidden;
    margin-bottom: 25px;
}

.entry-content.expanded-content {
	height: 100%;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}



.entry-content .read-more-less.btn-read-more.read-more-expanded {
	bottom: -5px;
}

.entry-content .read-more-less.btn-read-more.read-more-expanded:after {
	content: "\e907";
} */


/* 
.entry-content .read-more-less.btn-read-more {
	display: inline-block;
    margin-bottom: 0;
} */

@media (min-width: 768px) {
	.homepage-half-image-half-text h2 {
		font-size: 40px;
		padding-bottom: 16px;
	}
	#moreText,
	#moreText2 {
		display: inline;
	}
	.half-image {
		width: calc(100% - 32px);
		/*height: 425px;*/
	}
	.half-text {
		padding: 68px 32px 44px;
	}
}

@media (min-width: 1200px) {
	.homepage-half-image-half-text {
		padding: 90px 0;
	}

	.homepage-half-image-half-text h2 {
		font-size: 51px;
		padding-bottom: 20px;
	}

	.half-text {
		width: 52.5%;
		padding: 0;
	}

	.half-image {
		width: 47.5%;
		height: 100%;
	}
	.left-text-right-image .half-image {
		position: absolute;
		top: 0;
		right: 0;
	}
	.left-text-right-image .half-text {
		float: left;
		padding: 54px 25px 366px 25px;
	}
	.right-text-left-image .half-image {
		position: absolute;
		top: 0;
		left: 0;
	}
	.right-text-left-image .half-text {
		float: right;
		padding: 135px 25px 134px 25px;
	}
	.right-text-left-image {
		margin-top: -220px;
	}
	.half-image-half-text:first-of-type {
		margin-top: 0;
	}
	.right-text-left-image+.left-text-right-image .half-text {
		padding: 130px 25px;
	}
	.half-text .btn {
		margin-top: 25px;
	}
}

@media (min-width: 1300px) {
	.left-text-right-image .half-text {
		padding: 54px 70px 366px 70px;
	}
	.right-text-left-image .half-text {
		padding: 135px 62px 134px 60px;
	}
	.right-text-left-image+.left-text-right-image .half-text {
		padding: 135px 70px;
	}
}